<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>战绩查询</string>
		<key>icon</key>
		<string>MORE_对战查询@2x.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>赛事</string>
		<key>icon</key>
		<string>MORE_赛事@2x.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>英雄榜</string>
		<key>icon</key>
		<string>MORE_英雄榜@2x.png</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>MORE_大神榜@2x.png</string>
		<key>name</key>
		<string>大神榜</string>
	</dict>
	<dict>
		<key>name</key>
		<string>精彩专栏</string>
		<key>icon</key>
		<string>MORE_精彩专栏@2x.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>小游戏</string>
		<key>icon</key>
		<string>MORE_小游戏@2x.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>贺卡</string>
		<key>icon</key>
		<string>MORE_贺卡@2x.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>官方查询</string>
		<key>icon</key>
		<string>MORE_官网查询@2x.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>天赋模拟</string>
		<key>icon</key>
		<string>MORE_天赋模拟@2x.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>符文模拟</string>
		<key>icon</key>
		<string>MORE_符文模拟@2x.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>召唤师技能</string>
		<key>icon</key>
		<string>MORE_召唤师技能@2x.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>装备查询</string>
		<key>icon</key>
		<string>MORE_装备查询@2x.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>铃声</string>
		<key>icon</key>
		<string>MORE_铃声@2x.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>壁纸</string>
		<key>icon</key>
		<string>MORE_壁纸@2x.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>小说</string>
		<key>icon</key>
		<string>MORE_小说@2x.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>占卜</string>
		<key>icon</key>
		<string>MORE_占卜@2x.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>商城</string>
		<key>icon</key>
		<string>MORE_商城@2x.png</string>
	</dict>
	<dict/>
	<dict/>
	<dict/>
	<dict/>
</array>
</plist>
